<p id="notice"><%= notice %></p>

<h1>Search Records</h1>

<table>
  <thead>
    <tr>
      <th>Pattern</th>
      <th>Count</th>
      <th>Users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_records.each do |search_record| %>
      <tr>
        <td><%= search_record.pattern %></td>
        <td><%= search_record.count %></td>
        <td><%= search_record.users %></td>
        <td><%= link_to 'Show', search_record %></td>
        <td><%= link_to 'Edit', edit_search_record_path(search_record) %></td>
        <td><%= link_to 'Destroy', search_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search Record', new_search_record_path %>
